In [1]:
records= [['him',20],['ram',40],['shyam',40],['simran',80]]

In [2]:
records

[['him', 20], ['ram', 40], ['shyam', 40], ['simran', 80]]

In [4]:
records[0][1]

20

In [5]:
for i in records:
    print(i)

['him', 20]
['ram', 40]
['shyam', 40]
['simran', 80]

In [7]:
l= []
for i in records:
    l.append(i[1])

In [8]:
l

[20, 40, 40, 80]

In [15]:
l1=list(set(l))

In [17]:
l1.sort()

In [20]:
l1[1]

40

In [21]:
records

[['him', 20], ['ram', 40], ['shyam', 40], ['simran', 80]]

In [22]:
name = []
for i in records:
    if i[1] == l1[1]:
        name.append(i[0])

In [23]:
name

['ram', 'shyam']

In [24]:
name.sort()

In [26]:
name

['ram', 'shyam']

In [27]:
for i in name:
    print(i)

ram
shyam

In [28]:
 def secondlowest(students):
        l= []
        for i in students:
            l.append(i[1])
        l1=list(set(l))
        l1.sort()
        l1[1]
        name = []
        for i in students:
            if i[1] == l1[1]:
                name.append(i[0])
        name.sort()
        for i in name:
            print(i)

In [31]:
students= [['him',20],['ram',20],['shyam',10],['simran',80]]

In [32]:
secondlowest(students)

him
ram

In [36]:
students= []
for i in range(int(input())):
        name = input()
        score = float(input())
        students.append([name,score])

3
him
20
syam
30
sita
30

In [37]:
students

[['him', 20.0], ['syam', 30.0], ['sita', 30.0]]